<div class="mt-5 card text-white bg-slate-gray">
    <div class="card-header text-center bg-dark-gray">
        <h3>Be a Donor !!</h3>
    </div>
    <div class="card-body">

        <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
            <div class="form-group">
                <label for="id_bloodGroup">Blood Group:</label>
                <select class="form-control" id="id_bloodGroup" formControlName="f_bloodGroup">
                    <option *ngFor="let bloodGroup of bloodGroups" [value]="bloodGroup">{{bloodGroup}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="id_name">Name:</label>
                <input type="text" class="form-control" id="id_name" formControlName="f_name" placeholder="first name">
            </div>
            <div class="form-group">
                <label for="id_mobile">Mobile No:</label>
                <input type="text" class="form-control" id="id_mobile" formControlName="f_mobile" placeholder="10-digit number">
            </div>
            <div class="form-group">
                <label for="id_email">Email Id:</label>
                <input type="email" class="form-control" id="id_email" formControlName="f_email" placeholder="abc@xyz.com">
            </div>
            <div class="form-group">
                <label for="id_state">State:</label>
                <select class="form-control" id="id_state" formControlName="f_state"  (change)="onStateSelected($event.target.value)">
                    <option value=-1>--Select State--</option>
                    <option *ngFor="let state of states" [value]=state.stateId>{{state.stateName}}</option>
                </select>
            </div>
            <div class="form-group row" formGroupName="f_city_pincode_group">

                <div class="col-sm-6 col-md-6">
                    <label for="id_city">City:</label>
                    <select class="form-control" id="id_city" formControlName="f_city">
                        <option value=-1>--Select City--</option>
                        <option *ngFor="let city of cities" [value]=city.cityId>{{city.cityName}}</option>
                    </select>
                </div>

                <div class="col-sm-6 col-md-6">
                    <label for="id_pincode">Pincode:</label>
                    <input type="text" class="form-control" id="id_pincode" formControlName="f_pincode" placeholder="6-digit pincode">
                </div>

            </div>
            <!-- <div class="form-group row" formGroupName="f_last_donated_group">
                <div class="col-sm-4 col-md-6">
                    <label for="id_last_donated">Last Donated:</label>
                    <select class="form-control" id="id_last_donataed" formControlName="f_last_donated" (change)="onLastDonateOptionChange($event.target.value)">
                        <option value=-1>Never</option>
                        <option value=0>More than 2 months</option>
                        <option value=1>Within 2 months</option>
                    </select>
                </div>
                <div class="col-sm-8 col-md-6">
                    <label for="id_last_donated_date">Last Donated On:</label>
                    <input type="date" class="form-control" id="id_last_donated_date" formControlName="f_last_donated_date">
                </div>
            </div>  -->

            <div class="row mt-4 ml-1">
                <button type="reset" class="mr-2 col-sm-3 col-md-3 btn bg-amber text-white">
                    <i class="fa fa-refresh"></i> Reset
                </button>
                <button type="submit" class="ml-3 col-sm-8 col-md-8 btn btn-success">
                    <i class="fa fa-book"></i> Register
                </button>
            </div>
        </form>
      
    </div>
</div>